<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooney Consulting & Recruiting</title>
    <link rel="stylesheet" href="/stylesheets/posting.css">
</head>
<body>
    <div class=job-card>
        <span class="title">
                Cooney Consulting & Recruiting 
        </span>
        <div class="posting-area">
            <h2><%=@posting.title%> - <%=@posting.location%></h2>
            <p><%=@posting.details%></p>             
        </div>
        <div class="job-contact">
            <h2>Contact Cooney Consulting & Recruiting</h2>
            <a href = "mailto: cathy@cooneycr.com" class ="email"><h3>EMAIL: CATHY@COONEYCR.COM</h3></a>
            <h3>PHONE: (303) 881-6083</h3>
            <img class="job-contact-logo" src="../images/logo.png">
        </div>
    </div>


    
</body>
</html>





